# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Alembic
# =========================
alembic/versions/__pycache__/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Docker
# =========================
*.pid
*.seed